In [11]:
import pandas as pd

In [13]:
df = pd.read_csv('wayback_snapshots_with_timestamps_23Dec2024_business.csv')

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2413 entries, 0 to 2412
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2413 non-null   object
 1   h1_tags         2413 non-null   object
 2   word_count      2413 non-null   int64
 3   keywords        2413 non-null   object
 4   description     2413 non-null   object
 5   DC.Description  2413 non-null   object
 6   snapshot_url    2413 non-null   object
 7   Timestamp       2413 non-null   object
dtypes: int64(1), object(7)
memory usage: 150.9+ KB

In [17]:
df.shape

(2413, 8)

In [19]:
# 1. Identify missing values
missing_values = df.isnull().sum()
print("Missing Values in Each Column:")
print(missing_values)

Missing Values in Each Column:
title             0
h1_tags           0
word_count        0
keywords          0
description       0
DC.Description    0
snapshot_url      0
Timestamp         0
dtype: int64

In [21]:
df.head()

,title,h1_tags,word_count,keywords,description,DC.Description,snapshot_url,Timestamp
0,"Business support, information and advice | Bus...","['Business support, information and advice']",863,No keywords found,No description found,No description found,https://web.archive.org/web/20150101014408/htt...,1/01/2015 1:44
1,"Business support, information and advice | Bus...","['Business support, information and advice']",863,No keywords found,No description found,No description found,https://web.archive.org/web/20150102151127/htt...,2/01/2015 15:11
2,"Business support, information and advice | Bus...","['Business support, information and advice']",863,No keywords found,No description found,No description found,https://web.archive.org/web/20150102154950/htt...,2/01/2015 15:49
3,"Business support, information and advice | Bus...","['Business support, information and advice']",865,No keywords found,No description found,No description found,https://web.archive.org/web/20150105232423/htt...,5/01/2015 23:24
4,"Business support, information and advice | Bus...","['Business support, information and advice']",818,No keywords found,No description found,No description found,https://web.archive.org/web/20150108121215/htt...,8/01/2015 12:12

In [23]:
# 3. Remove rows containing 'Error'
df = df[~df.eq('Error').any(axis=1)]

In [25]:
# Verify removal
print("\nRows after removing 'Error':")
print(df.head())

Rows after removing 'Error':
                                               title  \
0  Business support, information and advice | Bus...
1  Business support, information and advice | Bus...
2  Business support, information and advice | Bus...
3  Business support, information and advice | Bus...
4  Business support, information and advice | Bus...

                                        h1_tags  word_count  \
0  ['Business support, information and advice']         863
1  ['Business support, information and advice']         863
2  ['Business support, information and advice']         863
3  ['Business support, information and advice']         865
4  ['Business support, information and advice']         818

            keywords           description        DC.Description  \
0  No keywords found  No description found  No description found
1  No keywords found  No description found  No description found
2  No keywords found  No description found  No description found
3  No keywords found  No description found  No description found
4  No keywords found  No description found  No description found

                                        snapshot_url        Timestamp
0  https://web.archive.org/web/20150101014408/htt...   1/01/2015 1:44
1  https://web.archive.org/web/20150102151127/htt...  2/01/2015 15:11
2  https://web.archive.org/web/20150102154950/htt...  2/01/2015 15:49
3  https://web.archive.org/web/20150105232423/htt...  5/01/2015 23:24
4  https://web.archive.org/web/20150108121215/htt...  8/01/2015 12:12

In [27]:
# 4. Check if "description" and "DC.Description" match
df['description_DC_match'] = df['description'] == df['DC.Description']

# Display matching and non-matching rows
matching_rows = df[df['description_DC_match'] == True]
non_matching_rows = df[df['description_DC_match'] == False]

print("Number of Matching Rows:", len(matching_rows))
print("Number of Non-Matching Rows:", len(non_matching_rows))

Number of Matching Rows: 149
Number of Non-Matching Rows: 2224

In [29]:
# Display unique values in 'DC.Description' column
unique_description = df['description'].unique()
print("Unique values in 'description':")
print(unique_description)

Unique values in 'description':
['No description found'
 'We package government information into handy tools and advice to help small businesses like yours get on and get ahead']

In [31]:
# Display unique values in 'DC.Description' column
unique_dc_description = df['DC.Description'].unique()
print("\nUnique values in 'DC.Description':")
print(unique_dc_description)

Unique values in 'DC.Description':
['No description found']

In [35]:
# 5. Drop the "DC.Description' column, as the 'description' contains more information
df.drop(columns=['DC.Description'], inplace=True)

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2373 entries, 0 to 2412
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 2373 non-null   object
 1   h1_tags               2373 non-null   object
 2   word_count            2373 non-null   int64
 3   keywords              2373 non-null   object
 4   description           2373 non-null   object
 5   snapshot_url          2373 non-null   object
 6   Timestamp             2373 non-null   object
 7   description_DC_match  2373 non-null   bool
dtypes: bool(1), int64(1), object(6)
memory usage: 150.6+ KB

In [39]:
df.drop(columns=['description_DC_match'], inplace=True)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2373 entries, 0 to 2412
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         2373 non-null   object
 1   h1_tags       2373 non-null   object
 2   word_count    2373 non-null   int64
 3   keywords      2373 non-null   object
 4   description   2373 non-null   object
 5   snapshot_url  2373 non-null   object
 6   Timestamp     2373 non-null   object
dtypes: int64(1), object(6)
memory usage: 148.3+ KB

In [43]:
# 6. Replace the "h1_tag"= "[]" with "null"

if 'h1_tags' in df.columns:
    df['h1_tags'] = df['h1_tags'].apply(lambda x: 'null' if str(x).strip() == '[]' else x)
    print("Empty lists in 'h1_tags' have been replaced with 'null'.")
else:
    print("Column 'h1_tags' does not exist in the dataset.")

Empty lists in 'h1_tags' have been replaced with 'null'.

In [45]:
df['h1_tags']

0       ['Business support, information and advice']
1       ['Business support, information and advice']
2       ['Business support, information and advice']
3       ['Business support, information and advice']
4       ['Business support, information and advice']
                            ...
2408                  ['Helping businesses succeed']
2409                  ['Helping businesses succeed']
2410                  ['Helping businesses succeed']
2411                  ['Helping businesses succeed']
2412                  ['Helping businesses succeed']
Name: h1_tags, Length: 2373, dtype: object

In [47]:
# 7. Add a colunm of description length, counting by characters
if 'description' in df.columns:
    df['description_length'] = df['description'].apply(
        lambda x: 0 if str(x).strip() == 'No description found' else len(str(x))
    )
    print("Column 'description_length' has been added successfully.")
else:
    print("Column 'description' does not exist in the dataset.")

# Display the first few rows to verify
print(df[['description', 'description_length']].head())

Column 'description_length' has been added successfully.
            description  description_length
0  No description found                   0
1  No description found                   0
2  No description found                   0
3  No description found                   0
4  No description found                   0

In [49]:
# 8. Add a column 'keyword_count', counting the number of keywords
if 'keywords' in df.columns:
    df['keyword_count'] = df['keywords'].apply(
        lambda x: 0 if str(x).strip() == 'No keywords found' else len(str(x).split(','))
    )
    print("Column 'keyword_count' has been added successfully.")
else:
    print("Column 'keywords' does not exist in the dataset.")

Column 'keyword_count' has been added successfully.

In [51]:
# Display the first few rows to verify
print(df[['keywords', 'keyword_count']].head())

            keywords  keyword_count
0  No keywords found              0
1  No keywords found              0
2  No keywords found              0
3  No keywords found              0
4  No keywords found              0

In [53]:
# 9. Check for duplicates in 'Timestamp' column, and remove the duplicate rows
if 'Timestamp' in df.columns:
    duplicate_timestamps = df[df['Timestamp'].duplicated(keep=False)]
    
    if duplicate_timestamps.empty:
        print("No duplicate values found in the 'Timestamp' column.")
    else:
        print(f"Number of duplicate 'Timestamp' values: {duplicate_timestamps.shape[0]}")
        print(duplicate_timestamps[['Timestamp']])
else:
    print("Column 'Timestamp' does not exist in the dataset.")

Number of duplicate 'Timestamp' values: 1180
             Timestamp
14     5/02/2015 22:03
15     5/02/2015 22:03
16     6/02/2015 23:32
17     6/02/2015 23:32
87     28/01/2016 7:58
...                ...
2408   20/11/2024 7:01
2409   20/11/2024 7:01
2410   20/11/2024 7:01
2411  21/11/2024 13:00
2412  21/11/2024 13:00

[1180 rows x 1 columns]

In [55]:
# Remove duplicates based on 'Timestamp'
if 'Timestamp' in df.columns:
    initial_row_count = df.shape[0]
    df = df.drop_duplicates(subset='Timestamp', keep='first')
    final_row_count = df.shape[0]
    print(f"Removed {initial_row_count - final_row_count} duplicate rows based on 'Timestamp'.")
else:
    print("Column 'Timestamp' does not exist in the dataset.")

Removed 755 duplicate rows based on 'Timestamp'.

In [57]:
# 10. Save the cleaned dataset to csv
df.to_csv('dataset_business_1227_cleaned.csv', index=False)

In [59]:
# Display the cleaned dataset information
df = pd.read_csv('dataset_business_1227_cleaned.csv')

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1618 entries, 0 to 1617
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               1618 non-null   object
 1   h1_tags             1616 non-null   object
 2   word_count          1618 non-null   int64
 3   keywords            1618 non-null   object
 4   description         1618 non-null   object
 5   snapshot_url        1618 non-null   object
 6   Timestamp           1618 non-null   object
 7   description_length  1618 non-null   int64
 8   keyword_count       1618 non-null   int64
dtypes: int64(3), object(6)
memory usage: 113.9+ KB